* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.header {
  background-color: #000;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.header .container {
  display: flex;
  justify-content: space-between;
}
.header .container .header-left a img {
  width: 100%;
}
.header .container .header-right {
  line-height: 2;
}
.header .container .header-right a {
  text-decoration: none;
  color: #f5f5f5;
  margin-right: 10px;
  font-size: 16px;
}
.header .container .header-right a img {
  width: 31px;
  height: 31px;
}
.header .container .header-right span {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}
.header .menu {
  line-height: 2;
  background-color: #f5f5f5;
}
.header .menu .container {
  display: block;
}
.header .menu .container a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: 300;
  margin-right: 25px;
}
@media only screen and (max-width: 768px) {
  .header .menu .container a {
    font-size: 16px;
  }
}
.header .menu .container .active {
  font-weight: 400;
  position: relative;
}
.header .menu .container .active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #000;
  bottom: -7px;
  left: 0;
}

.footer .footer-top {
  background-color: #f8f8f8;
}
.footer .footer-top .container .row {
  padding: 20px;
}
.footer .footer-top .container .row .footer-1, .footer .footer-top .footer-bottom .container .row .footer-3, .footer .footer-bottom .footer-top .container .row .footer-3, .footer .footer-top .container .row .footer-2 {
  line-height: 2;
}
.footer .footer-top .container .row .footer-1 h3, .footer .footer-top .footer-bottom .container .row .footer-3 h3, .footer .footer-bottom .footer-top .container .row .footer-3 h3, .footer .footer-top .container .row .footer-2 h3 {
  font-size: 20px;
  font-weight: 800;
  color: #000;
}
.footer .footer-top .container .row .footer-1 a, .footer .footer-top .footer-bottom .container .row .footer-3 a, .footer .footer-bottom .footer-top .container .row .footer-3 a, .footer .footer-top .container .row .footer-2 a {
  display: flex;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}
.footer .footer-top .container .row .footer-2 {
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
}
.footer .footer-top .container .row .footer-3 {
  line-height: 2;
}
.footer .footer-top .container .row .footer-3 h3 {
  font-size: 20px;
  font-weight: 800;
  color: #000;
}
.footer .footer-top .container .row .footer-3 p {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}
.footer .footer-top .container .row .footer-3 a {
  text-decoration: none;
  color: #d66761;
}
.footer .footer-bottom {
  background-color: #ececec;
}
.footer .footer-bottom .container .row {
  padding: 20px;
}
.footer .footer-bottom .container .row .footer-1, .footer .footer-bottom .container .row .footer-3, .footer .footer-bottom .container .row .footer-2 {
  line-height: 2;
}
.footer .footer-bottom .container .row .footer-1 h3, .footer .footer-bottom .container .row .footer-3 h3, .footer .footer-bottom .container .row .footer-2 h3 {
  font-size: 20px;
  font-weight: 800;
  color: #000;
}
.footer .footer-bottom .container .row .footer-1 p, .footer .footer-bottom .container .row .footer-3 p, .footer .footer-bottom .container .row .footer-2 p {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}
.footer .footer-bottom .container .row .footer-1 a, .footer .footer-bottom .container .row .footer-3 a, .footer .footer-bottom .container .row .footer-2 a {
  text-decoration: none;
  color: #d66761;
}
.footer .footer-bottom .container .row .footer-2 {
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
}
.products .container .title {
  text-align: center;
  font-weight: 400;
  font-size: 40px;
}
@media only screen and (max-width: 768px) {
  .products .container .title {
    font-size: 20px;
  }
}
.products .container .row {
  display: flex;
}
.products .container .row .col-lg-4 {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.products .container .row .col-lg-4 .item {
  background-color: #f8f8f8;
  padding: 20px;
  flex: 1 1 auto;
}
.products .container .row .col-lg-4 .item .thumbnail {
  text-align: center;
}
.products .container .row .col-lg-4 .item .thumbnail img {
  width: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.products .container .row .col-lg-4 .detail h3 {
  font-weight: 300;
  font-size: 24px;
  color: #000;
}
@media only screen and (max-width: 576px) {
  .products .container .row .col-lg-4 .detail h3 {
    font-size: 18px;
  }
}
.products .container .row .col-lg-4 .detail p {
  font-weight: 300;
  font-size: 18px;
  color: #cbc9c9;
}
@media only screen and (max-width: 576px) {
  .products .container .row .col-lg-4 .detail p {
    font-size: 16px;
  }
}
.products .container .row .col-lg-4 .price {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dedddc;
}
.products .container .row .col-lg-4 .price .buy .btn {
  font-size: 24px;
  font-weight: 200;
  color: #000;
  background: #f8b653;
  padding: 10px 30px;
  cursor: pointer;
}
@media only screen and (max-width: 992px) {
  .products .container .row .col-lg-4 .price .buy .btn {
    font-size: 16px;
    font-size: 18px;
    font-weight: 200;
    color: #000;
    background: #f8b653;
    padding: 5px 20px;
    cursor: pointer;
  }
}
.products .container .row .col-lg-4 .price .cost {
  display: flex;
  align-items: center;
  justify-content: center;
}
.products .container .row .col-lg-4 .price .cost p {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 600;
  color: #000;
}
@media only screen and (max-width: 992px) {
  .products .container .row .col-lg-4 .price .cost p {
    font-size: 16px;
    font-weight: 600;
    color: #000;
  }
}

.carousel {
  height: 600px;
  background-image: url("../../../img/image 6.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.carousel .container .content {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 50px;
}
.carousel .container .content .content-left {
  text-align: center;
}
.carousel .container .content .content-left img {
  position: relative;
  width: 821px;
  height: 392px;
  left: 86px;
  top: 5px;
}
@media only screen and (max-width: 992px) {
  .carousel .container .content .content-left img {
    width: 100%;
    top: 0;
    left: 0;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.carousel .container .content .content-right {
  z-index: 10;
}
.carousel .container .content .content-right h3 {
  font-size: 40px;
  font-weight: 300;
}
@media only screen and (max-width: 992px) {
  .carousel .container .content .content-right h3 {
    font-size: 30px;
    font-weight: 300;
  }
}
@media only screen and (max-width: 768px) {
  .carousel .container .content .content-right h3 {
    font-size: 20px;
    font-weight: 300;
  }
}
.carousel .container .content .content-right h4 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}
@media only screen and (max-width: 992px) {
  .carousel .container .content .content-right h4 {
    font-size: 20px;
    font-weight: 300;
  }
}
@media only screen and (max-width: 768px) {
  .carousel .container .content .content-right h4 {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
  }
}
.carousel .container .content .content-right .btn {
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  background: #f8b653;
  padding: 10px 30px;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .carousel .container .content .content-right .btn {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    background: #f8b653;
    padding: 5px 20px;
    cursor: pointer;
  }
}
.carousel .container .slide {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -200px;
}
.register .container .title h4 {
  font-size: 40px;
  font-weight: 400;
  color: #000;
}
@media only screen and (max-width: 992px) {
  .register .container .title h4 {
    font-size: 30px;
    font-weight: 400;
    color: #000;
  }
}
.register .container .form-fill .row .form-left, .register .container .form-fill .row .form-right {
  padding: 0 50px;
}
.register .container .form-fill .row .form-left input, .register .container .form-fill .row .form-right input {
  font-size: 30px;
  font-weight: 400;
  color: #000;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right bottom, #ae18e2 100%, #000000 0%);
}
@media only screen and (max-width: 992px) {
  .register .container .form-fill .row .form-left input, .register .container .form-fill .row .form-right input {
    font-size: 20px;
    font-weight: 400;
    color: #000;
  }
}
.register .container .form-fill .row .form-left input:focus, .register .container .form-fill .row .form-right input:focus {
  outline: none !important;
}
.register .container .form-fill .row .form-right .check {
  font-size: 30px;
  font-weight: 400;
  color: #000;
  padding: 20px 0;
}
@media only screen and (max-width: 992px) {
  .register .container .form-fill .row .form-right .check {
    font-size: 20px;
    font-weight: 400;
    color: #000;
  }
}
.register .container .form-fill .row .form-right .check .size {
  width: 40px;
  height: 25px;
}
@media only screen and (max-width: 992px) {
  .register .container .form-fill .row .form-right .check .size {
    width: 35px;
    height: 20px;
  }
}
.register .container .form-fill .row .form-right .check input[name=gender] {
  accent-color: #ae18e2;
}
.register .container .form-fill .row .form-right .btn-submit {
  display: block;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  border: none;
  background-color: #ae18e2;
  padding: 5px 50px;
  margin: 20px 0;
}
@media only screen and (max-width: 992px) {
  .register .container .form-fill .row .form-right .btn-submit {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
  }
}