.carousel {
    background-image: url("../../../img/image 6.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    padding: 90px 0;

    @include responsive ('sm') {
        padding: 150px 0;
    }

    .container {
        .content-left {
            text-align: center;

            img {
                width: 100%;
            }
        }

        .content-right {
            z-index: 10;
            position: relative;

            .detail {
                position: absolute;
                right: 20px;
                top: 30%;

                h3 {
                    font-size: $text-base;
                    font-weight: $text-light;

                    @include responsive('xxxs') {
                        font-size: $text-xl;
                    }

                    @include responsive('sm') {
                        font-size: $text-3xl;
                    }

                    @include responsive('lg') {
                        font-size: $text-4xl;
                    }
                }

                h4 {
                    font-size: $text-xs - 3px;
                    font-weight: $text-light;
                    margin-bottom: 10px;

                    @include responsive ('sm') {
                        font-size: $text-xl;
                    }

                    @include responsive ('lg') {
                        font-size: $text-2xl;
                    }
                }

                .btn {
                    @include button($text-base,
                        $text-light,
                        $text-c1-light,
                        $bg-c1-button,
                        5px 10px);

                    @include responsive ('xs') {
                        @include button($text-2xl,
                            $text-light,
                            $text-c1-light,
                            $bg-c1-button,
                            10px 30px);
                    }
                }
            }
        }
    }

    .slide {
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        top: 50%;
        padding: 0 20px;

        .slider-left,
        .slide-right {
            z-index: 100;
            img {
                width: 30px;
                height: 30px;
                @include responsive ('xs') {
                    width: 40px;
                    height: 40px;
                }
            }
        }

    }

}