.products {
    .container {
        .title {
            text-align: center;
            font-weight: $text-regular;
            font-size: $text-4xl;

            @media only screen and (max-width: 768px) {
                font-size: $text-2xl;
            }
        }

        .row {
            display: flex;

            .col-lg-4 {
                padding: 20px;
                display: flex;
                flex-direction: column;

                .item {
                    background-color: $bg-c1-product;
                    padding: 20px;
                    flex: 1 1 auto;

                    .thumbnail {
                        text-align: center;

                        img {
                            width: 100%;
                            object-fit: scale-down;
                        }
                    }
                }

                .detail {
                    h3 {
                        font-weight: $text-light;
                        font-size: $text-2xl1;
                        color: $text-c1-dark;

                        @media only screen and (max-width: 576px) {
                            font-size: $text-xl;
                        }
                    }

                    p {
                        font-weight: $text-light;
                        font-size: $text-xl;
                        color: $text-c1-descProduct;

                        @media only screen and (max-width: 576px) {
                            font-size: $text-base;
                        }
                    }
                }

                .price {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $bg-c1-price;

                    .buy {
                        .btn {
                            @include button($text-2xl1,
                                $text-extraLight,
                                $text-c1-dark,
                                $bg-c1-button,
                                10px 30px);

                            @media only screen and (max-width: 992px) {
                                font-size: $text-base;
                                @include button($text-xl,
                                    $text-extraLight,
                                    $text-c1-dark,
                                    $bg-c1-button,
                                    5px 20px);
                            }
                        }
                    }

                    .cost {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        p {
                            margin-bottom: 0;
                            @include text($text-2xl1, $text-semiBold, $text-c1-dark);

                            @media only screen and (max-width: 992px) {
                                @include text($text-base, $text-semiBold, $text-c1-dark);

                            }
                        }
                    }
                }
            }
        }
    }
}