.register {
    .container {
        .title {
            h4 {
                @include text($text-4xl, $text-regular, $text-c1-dark);

                @media only screen and (max-width: 992px) {
                    @include text($text-3xl, $text-regular, $text-c1-dark);
                }
            }
        }

        .form-fill {
            .row {
                .form-left {
                    padding: 0 25px;

                    input {
                        position: relative;
                        @include text($text-3xl, $text-regular, $text-c1-dark);

                        @media only screen and (max-width: 992px) {
                            @include text($text-2xl, $text-regular, $text-c1-dark);
                        }

                        padding: 10px;
                        padding-right: 25px;
                        margin-bottom: 10px;
                        border: none;
                        border-bottom: 5px solid;
                        border-image-slice: 1;
                        border-image-source: linear-gradient(to right bottom,
                            #ae18e2 100%,
                            #000000 0%);

                        &:focus {
                            outline: none !important;
                        }
                        & + span {
                            position: absolute;
                            transform: translate(-20px, 20px);
                            color: red;
                        }
                    }
                }

                .form-right {
                    @extend .form-left;

                    .check {
                        @include text($text-3xl, $text-regular, $text-c1-dark);

                        @media only screen and (max-width: 992px) {
                            @include text($text-2xl, $text-regular, $text-c1-dark);
                        }

                        padding: 40px 0;

                        .size {
                            display: none;
                            &+label::before {
                                content: "";
                                background: #cccccc;
                                border-radius: 50%;
                                display: inline-block;
                                width: 20px;
                                height: 20px;
                                position: relative;
                                top: 5px;
                                right: 15px;
                                margin-left: 35px;
                                margin-right: 10px;
                                cursor: pointer;
                                text-align: center;
                                transition: all .25s ease;
                                box-shadow: 0 0 0 10px #cccccc;
                                @include responsive ('md') {
                                    width: 30px;
                                    height: 30px;
                                };
                            }
                            &:checked + label::before {
                                background: $bg-c1-register;
                            }
                        }
                        .gender {
                            flex-direction: column;
                            label:last-child {
                                margin-top: 15px;
                            }
                            @include responsive ('xxs') {
                                flex-direction: row;
                                label:last-child {
                                    margin-top: 0;
                                }
                            }
                        }

                    }

                    .btn-submit {
                        display: block;
                        @include text($text-3xl, $text-regular, $text-c1-light);
                        border: none;
                        background-color: $bg-c1-register;
                        padding: 5px 50px;
                        margin: 20px 0;

                        @media only screen and (max-width: 992px) {
                            @include text($text-2xl, $text-regular, $text-c1-light);
                        }
                    }
                }
            }
        }
    }
}