.register {
    .container {
        .title {
            h4 {
                @include text($text-4xl, $text-regular, $text-c1-dark);

                @media only screen and (max-width: 992px) {
                    @include text($text-3xl, $text-regular, $text-c1-dark);
                }
            }
        }

        .form-fill {
            .row {
                .form-left {
                    padding: 0 50px;

                    input {
                        @include text($text-3xl, $text-regular, $text-c1-dark);

                        @media only screen and (max-width: 992px) {
                            @include text($text-2xl, $text-regular, $text-c1-dark);
                        }

                        padding: 10px;
                        margin-bottom: 10px;
                        border: none;
                        border-bottom: 5px solid;
                        border-image-slice: 1;
                        border-image-source: linear-gradient(to right bottom,
                            #ae18e2 100%,
                            #000000 0%);

                        &:focus {
                            outline: none !important;
                        }
                    }
                }

                .form-right {
                    @extend .form-left;

                    .check {
                        @include text($text-3xl, $text-regular, $text-c1-dark);

                        @media only screen and (max-width: 992px) {
                            @include text($text-2xl, $text-regular, $text-c1-dark);
                        }

                        padding: 20px 0;

                        .size {
                            width: 40px;
                            height: 25px;

                            @media only screen and (max-width: 992px) {
                                width: 35px;
                                height: 20px;
                            }
                        }

                        input[name="gender"] {
                            accent-color: $bg-c1-register;
                        }
                    }

                    .btn-submit {
                        display: block;
                        @include text($text-3xl, $text-regular, $text-c1-light);
                        border: none;
                        background-color: $bg-c1-register;
                        padding: 5px 50px;
                        margin: 20px 0;

                        @media only screen and (max-width: 992px) {
                            @include text($text-2xl, $text-regular, $text-c1-light);
                        }
                    }
                }
            }
        }
    }
}